.App {
  text-align: center;
  width: 320px;
}
body {
  justify-content: center;
  align-items: center;
  display: grid;
}

.main-container {
  margin-top: 20px;
  border-radius: 5px;
}
.main-container > div > img {
  border-radius: 50%;
  width: 200px;
}
.img-container {
  height: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: dodgerblue; */
  border-radius: 5px 5px 0px 0px;
}

.flip-button {
  margin-top: 20px;
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 45px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.flip-button:hover {
  cursor: pointer;
  background-color: rgba(30, 143, 255, 0.626);
}
.score {
  margin-top: 20px;
  align-items: center;
  width: 350px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
.score > div {
  justify-content: center;
  align-items: center;
  display: grid;
  width: 100px;
  /* border: 1px solid white; */
}
.score-img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
.dashboard {
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  display: grid;
  height: 300px;
  border-radius: 0px 0px 5px 5px;
}
